---
import astroLogo from "../assets/astro.svg";
import background from "../assets/background.svg";
---

<header>
	<div class="pepe">
		<img class="foto" src="/img/Cloak & Dagger.png" alt="" />
	</div>
</header>

<main>
	<div id="container">
		<h3>Patata</h3>
	</div>
</main>

<style>
	.pepe {
		background-color: #1c1c1c;
		background-size: auto;
		background-image: url("/img/C&D.png");
		background-repeat: no-repeat;
	}
	.foto {
		width: 1000px;
	}
	.container{
		width: 90%;
        
	}
</style>
